<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Smartbee - Finance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

     <!-- Plugins css -->
     <link href="../static/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
     <link href="../static/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
     <link href="../static/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
     <link href="../static/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
 
     <link href="../static/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
     <link href="../static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
 
 

    <!-- App css -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">

                <div class="d-flex align-items-left">
                    <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                    SMART BEE - AUTO FINANCE APPLICATION
                </div>

                <div class="d-flex align-items-center">

                    <button type="button" class="btn btn-primary d-none d-lg-block ml-2">
                        <i class="mdi mdi-pencil-outline mr-1"></i> Create Reports
                    </button>

                    <div class="dropdown d-none d-sm-inline-block ml-2">
                        <!-- <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-magnify"></i>
                        </button> -->
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                            aria-labelledby="page-header-search-dropdown">

                                <!-- <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ..."
                                                aria-label="Recipient's username">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i
                                                        class="mdi mdi-magnify"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form> -->
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <!-- <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="" src="../static/assets/images/flags/us.jpg" alt="Header Language" height="16">
                            <span class="d-none d-sm-inline-block ml-1">English</span>
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button> -->
                        <div class="dropdown-menu dropdown-menu-right">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <img src="../static/assets/images/flags/spain.jpg" alt="user-image" class="mr-1" height="12">
                                <span class="align-middle">Spanish</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <img src="../static/assets/images/flags/germany.jpg" alt="user-image" class="mr-1" height="12">
                                <span class="align-middle">German</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <img src="../static/assets/images/flags/italy.jpg" alt="user-image" class="mr-1" height="12">
                                <span class="align-middle">Italian</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <img src="../static/assets/images/flags/russia.jpg" alt="user-image" class="mr-1" height="12">
                                <span class="align-middle">Russian</span>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-notifications-dropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-bell"></i>
                            <span class="badge badge-danger badge-pill">3</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0"> Notifications </h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small"> View All</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 230px;">
                                <a href="" class="text-reset notification-item">
                                    <div class="media">
                                        <img src="../static/assets/images/users/avatar-2.jpg"
                                            class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-1">Samuel Coverdale</h6>
                                            <p class="font-size-13 mb-1">You have new follower on Instagram</p>
                                            <p class="font-size-12 mb-0 text-muted"><i
                                                    class="mdi mdi-clock-outline"></i> 2 min ago</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="text-reset notification-item">
                                    <div class="media">
                                        <div class="avatar-xs mr-3">
                                            <span class="avatar-title bg-success rounded-circle">
                                                <i class="mdi mdi-cloud-download-outline"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-1">Download Available !</h6>
                                            <p class="font-size-13 mb-1">Latest version of admin is now available.
                                                Please download here.</p>
                                            <p class="font-size-12 mb-0 text-muted"><i
                                                    class="mdi mdi-clock-outline"></i> 4 hours ago</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="text-reset notification-item">
                                    <div class="media">
                                        <img src="../static/assets/images/users/avatar-3.jpg"
                                            class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-1">Victoria Mendis</h6>
                                            <p class="font-size-13 mb-1">Just upgraded to premium account.</p>
                                            <p class="font-size-12 mb-0 text-muted"><i
                                                    class="mdi mdi-clock-outline"></i> 1 day ago</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 border-top">
                                <a class="btn btn-sm btn-light btn-block text-center" href="javascript:void(0)">
                                    <i class="mdi mdi-arrow-down-circle mr-1"></i> Load More..
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block ml-2">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="../static/assets/images/users/avatar-3.jpg"
                                alt="Header Avatar">
                            <span class="d-none d-sm-inline-block ml-1">Jamie D.</span>
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item d-flex align-items-center justify-content-between"
                                href="javascript:void(0)">
                                <span>Inbox</span>
                                <span>
                                    <span class="badge badge-pill badge-info">3</span>
                                </span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between"
                                href="javascript:void(0)">
                                <span>Profile</span>
                                <span>
                                    <span class="badge badge-pill badge-warning">1</span>
                                </span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between"
                                href="javascript:void(0)">
                                Settings
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between"
                                href="javascript:void(0)">
                                <span>Lock Account</span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between"
                                href="javascript:void(0)">
                                <span>Log Out</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu" style="width:125px">

            <div data-simplebar class="h-100" >

                <div class="navbar-brand-box">
                    <a href="/" class="logo">
                        <img src="../static/assets/images/logo-light.png" />
                    </a>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <!-- <li class="menu-title">Menu</li> -->

                        <li>
                            <a href="/remittance" class="waves-effect"></i><span class="badge badge-pill badge-success float-right"></span><span>Remittance</span></a>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="form-group mb-4 ">
                                <label>Clearing Date*</label>
                                <input style="width:200px" type="text" class="form-control date" id="clearing_date" data-toggle="daterangepicker" data-cancel-class="btn-warning">
                            </div>

                                <div class="form-group mb-4">
                                    <label>Company ID*</label>
                                    <input style="width:200px" type="text" maxlength="4" class="form-control" id="companyid" >
                                </div>
                                <div class="form-group mb-4">
                                    <label>Vendor ID*</label>
                                    <!-- <input style="width:200px" type="text" maxlength="10"  class="form-control" id="vendorid" > -->
                                    <input style="width:200px" type="text" maxlength="10"  class="form-control" id="vendorid" >
                                </div>
                                <div class="form-group mb-4">
                                    <label>Email ID*</label>
                                    <input style="width:200px" type="email" class="form-control" id="emailid" >
                                </div>
                                <div class="form-group mb-4">
                                    <input style="background:#346ee0;color:wheat;margin-top:30px;width:100px" onclick="preview();" type="button" class="form-control" id="submit" value="Submit">
                                </div>
                                <div class="form-group mb-4">
                                    <input style="background:rgb(61, 184, 61);color:wheat;margin-top:30px;width:100px" onclick="sendmail();" type="button" class="form-control" id="sendemail" value="Send Email">
                                </div>
                                <div class="form-group mb-4 d-none">
                                        <table id="vendor-datatable" style="width:100%" >
                                        <thead>
                                            <tr>
                                                <th>Vendor ID</th>
                                                <th>Name</th>
                                                <th>City</th>
                                                <th>Postal Code</th>
                                                <th>Region</th>
                                                <th>Street</th>
                                                <th>Email</th>
                                        </tr>
                                    </thead>
                                
                                
                                </table>
                                    </div>
                    </div><!-- end col-->
                <!-- </div> -->
                <!-- end row-->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <table id="invoice-datatable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Company Code</th>
                                                    <th>Vendor Code</th>
                                                    <th>Clearing Date</th>
                                                <th>Clearing Document</th>
                                                <th>Assignment</th>
                                                <th>Fiscal Year</th>
                                                <th>Doc Number</th>
                                            </tr>
                                        </thead>
                                    
                                    </table>
                                    
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2020 © Smartbee.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Designed & Developed by Business Solutions Consultants
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>


    <!-- jQuery  -->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/metismenu.min.js"></script>
    <script src="../static/assets/js/waves.js"></script>
    <script src="../static/assets/js/simplebar.min.js"></script>

    <!-- third party js -->
    <script src="../static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="../static/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="../static/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="../static/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="../static/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="../static/plugins/datatables/buttons.html5.min.js"></script>
    <script src="../static/plugins/datatables/buttons.flash.min.js"></script>
    <script src="../static/plugins/datatables/buttons.print.min.js"></script>
    <script src="../static/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="../static/plugins/datatables/dataTables.select.min.js"></script>
    <script src="../static/plugins/datatables/pdfmake.min.js"></script>
    <script src="../static/plugins/datatables/vfs_fonts.js"></script>
    <script src="../static/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="../static/plugins/select2/select2.min.js"></script>
    <script src="../static/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="../static/plugins/moment/moment.js"></script>
    <script src="../static/plugins/autonumeric/autoNumeric-min.js"></script>
    <!-- third party js ends -->

        <!-- Plugins js -->
        <script src="../static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="../static/plugins/daterangepicker/daterangepicker.js"></script>
        <script src="../static/assets/pages/advanced-plugins-demo.js"></script>

    <!-- Datatables init -->
    <script src="../static/assets/pages/datatables-demo.js"></script>

    <!-- App js -->
    <script src="../static/assets/js/theme.js"></script>
    <script>
function preview(){
    // alert("preview");
    var table = $('#invoice-datatable').DataTable().destroy();
    var vendorid =$('#vendorid').val() ;
    var companyid = $('#companyid').val() ;
    var clearing_date_range = $('#clearing_date').val() ;
    // alert(vendorid,companyid,clearing_date_range);
    var table = $('#invoice-datatable').DataTable({
        lengthChange: false,
        striped:true,
        dom:'Bfrtip',
        ajax: '/invoice/?vendorid='+vendorid+'&companyid='+companyid + "&clearing_date_range="+clearing_date_range,      
            "columns": [
                { data: 'company_code' },
                { data: 'vendor' },
                { data: 'clearing_date' },
                { data: 'clearing_document' },
                { data: 'assignment' },
                { data: 'fiscal_year' },
                { data: 'document_number' },           
            ],     
        buttons: ['copy', 'csv', 'pdf'],
        "language": {
            "paginate": {
                "previous": "<i class='mdi mdi-chevron-left'>",
                "next": "<i class='mdi mdi-chevron-right'>"
            }
        },
        "drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
        }
    });

}


function sendmail(){
    alert("sendmail");
}
$(document).ready(function() {

} );
</script>                                            
</body>

</html>